spring-tutorial-5/target/classes/com/jude/spring/test/App.class
spring-tutorial-5/target/classes/com/jude/spring/test/Person.class
spring-tutorial-6/target/classes/beans.xml
spring-tutorial-6/target/classes/com/jude/test/spring/App.class
spring-tutorial-6/target/classes/com/jude/test/spring/Person.class
spring-tutorial-7/target/classes/beans.xml
spring-tutorial-7/target/classes/com/jude/spring/test/App.class
spring-tutorial-7/target/classes/com/jude/spring/test/Person.class
spring-tutorial-8/target/classes/beans.xml
spring-tutorial-8/target/classes/com/jude/spring/test/App.class
spring-tutorial-8/target/classes/com/jude/spring/test/Person.class
test-program/target/classes/com/judetan/spring/test/App.class
test-program/target/test-classes/com/judetan/spring/test/AppTest.class
